# drivers/mxc/Kconfig

if ARCH_MXC

menu "MXC support drivers"

source "drivers/mxc/gpu-viv/Kconfig"

config MXC_SIM
	tristate "MXC SIM support"
	default n
	help
	Say Y to get MXC SIM support.

source "drivers/mxc/sim/Kconfig"
source "drivers/mxc/mlb/Kconfig"

if ARM64
source "drivers/mxc/hantro/Kconfig"
source "drivers/mxc/hantro_845/Kconfig"
source "drivers/mxc/hantro_845_h1/Kconfig"
source "drivers/mxc/vpu_malone/Kconfig"
source "drivers/mxc/vpu_windsor/Kconfig"
endif

source "drivers/mxc/vpu/Kconfig"

endmenu

endif
